{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"],
        "node": "4.0"
      }
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread"]
}
